<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget post</title>
    <style type="text/css">
        body {
          color: navy;
          background-color: lightgray;
        }
      </style>
</head>
<body>
        <h1>Posts to the budget</h1>
        <ul>
            <% for(let i = 0; i < allbudgets.length; i++) {  %>
                <li>
                    <a href="/budgets/<%=i%>"><%=(allbudgets[i].name)%></a>
                </li>
            <% } %>
        </ul>
        <p><a href="/">Back to Main Menu</a></p>
        
</body>
</html>