<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget post</title>
    <style type="text/css">
        body {
          color: navy;
          background-color: lightgray;
        }
      </style>
      <link rel="stylesheet" href="/normalize.css">
      <link rel="stylesheet" href="/skeleton.css">
      <script type="text/javascript" 
        src="./server.js">
    </script>
</head>
<body>
        <h1>Budgtr ALL</h1>
        <p>Current balance: <span id="balance">bankaccount</span></p>
    
        <br><button onclick="window.location='http://localhost:3000/budgets/new'">New Item</button><button onclick="window.location='http://localhost:3000/'">Back</button>
        <table>
            <% allbudgets.forEach((budgets) =>{ %>
            <tr>
              <td><%= budgets.date %></td>
              <td><a href="/budgets/<%=allbudgets.indexOf(budgets)%>">
                <%=budgets.name%>
            </a></td>
                    <% let amount = parseInt(budgets.amount) %>
                    
              <td><%= amount %></td>
            </tr>
      
            <% }) %>
          </table>
        
        
</body>
</html>